{% extends 'main.html' %}
{% block content %}

            <div>
                <div style="text-align: center;">
                    <h1 style="margin-left: 40px;">Cooking with a couple</h1>



                        <div class="card mb-3" style="margin: 5% 20%">
                          <img src="{{meal.picture.url}}" class="card-img-top" alt="IMG">
                          <div class="card-body">
                             <h3>{{ meal.name }}</h3>
                            <p class="card-text">{{meal.description}}</p>
                            <p class="card-text"><small class="text-body-secondary">{{meal.created|timesince}} ago</small></p>
                              <form action="{% url 'delete_meal' meal.id %}" method="post">
                                {% csrf_token %}
                                <button type="submit">Delete</button>
                              </form>
                          </div>
                        </div>


{% endblock %}